@import 'libs/reset';
@import 'libs/slick.scss';
@import 'libs/magnific-popup';

.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

.text-popup {
  .mfp-close {
    display: none !important;
  }
  position: relative;
  background: #ffffff;
  border-radius: 20px;
  max-width: 1079px;
  padding: 100px 125px;
  padding-right: 50px;
  margin: 0 auto;
  margin-top: 50px;
  max-height: 90vh;
  &__title {
    margin-bottom: 47px;
  }
  &__info {
    max-height: 55vh;
    overflow: auto;
    padding-right: 85px;
    font-family: 'FuturaBookC';
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;

    &::-webkit-scrollbar {
      width: 10px;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: #e4e1e9;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #3b3643;
    }
  }
  &__close {
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 40px;
  }
}
