@media (max-width: 1140px) {
  .header {
    &__menu {
      column-gap: 20px;
    }
  }
  .top {
    background-position: -1160px center;
    &__inner {
      max-width: 700px;
    }
    &__benefits {
      flex-wrap: wrap;
    }
    &__benefits-item {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 960px) {
  .header {
    &__logo-wrapper {
      display: flex;
      align-items: center;
      column-gap: 13px;
      img {
        width: 50px;
      }
    }
    &__content {
      display: none;
    }
    &__contacts {
      display: none;
    }
    &__links {
      display: none;
    }
    &__burger {
      display: block;
      cursor: pointer;
    }
    &__mobileText {
      max-width: 207px;
      display: block;
      font-family: FuturaBookC;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #777777;
    }
  }
  .header-mobile {
    display: block;
    transform: translateY(-200%);
    transition: all 0.3s;
    &::-webkit-scrollbar {
      width: 0;
    }
    &.open {
      transform: translateY(0%);
    }
    overflow-x: auto;
    position: fixed;
    z-index: 200;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    &__close {
      cursor: pointer;
    }
    &__search {
      padding: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #dddddd;
    }
    &__search-link {
      padding-left: 40px;
      position: relative;
      font-family: FuturaBookC;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      color: #3b3643;

      &::before {
        content: '';
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        height: 30px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../images/icons/search-mobile.svg');
        left: 0px;
      }
    }

    &__user {
      padding: 20px 60px;
      border-bottom: 1px solid #dddddd;
      position: relative;
      font-family: FuturaBookC;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      color: #3b3643;
      display: block;

      &::before {
        content: '';
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        height: 30px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../images/icons/user.svg');
        left: 20px;
      }
    }
    &__menu {
      padding: 25px 60px;
      border-bottom: 1px solid #dddddd;
      margin-bottom: 25px;
    }
    &__menu-link {
      display: block;
      font-family: FuturaBookC;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      color: #3b3643;
      margin-bottom: 25px;
      &.active {
        color: $red;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__link {
      font-family: FuturaBookC;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      color: #3b3643;
      padding: 0 60px;
      display: block;
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 33px;
      }
    }

    &__call {
      padding-left: 60px;
      position: relative;
      margin-bottom: 32px;

      &::before {
        content: '';
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 17px;
        height: 17px;
        bottom: 5px;
        background-image: url('../images/icons/phone.svg');
        left: 26px;
      }
    }
    &__call-name {
      font-family: FuturaBookC;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      color: #777777;
      margin-bottom: 4px;
    }
    &__call-phone {
      font-family: Gotham Pro;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 17px;
      color: #3b3643;
    }
  }

  .top {
    margin-top: -140px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 21px;
    line-height: 135%;
  }
  .top {
    margin-top: 0;
    padding-top: 0;
    background: #fff;
    margin-bottom: 70px;
    .top-mobile-image {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 500px;
      margin-bottom: 24px;
    }
    &__inner {
      max-width: 100%;
    }
    &__suptitle {
      display: none;
    }
    &__title {
      margin-bottom: 10px;
    }
    &__text {
      font-size: 16px;
      line-height: 135%;
    }
  }
}

@media (max-width: 560px) {
  .top {
    .top-mobile-image {
      height: 400px;
    }
    &__benefits {
      flex-wrap: nowrap;
      overflow-x: scroll;
    }
    &__benefits-item {
      flex: none;
    }

    &__buttons {
      flex-direction: column;
      align-items: center;
      margin-bottom: 44px;
    }
    &__buttons-btn {
      margin-bottom: 44px;
      width: 100%;
      font-size: 18px;
      line-height: 21px;
    }
    &__buttons-link {
      font-size: 18px;
      line-height: 20px;
    }
  }
}
