// @import 'fonts';
@import 'vars';
@import 'mixins';
@import 'global';
@import 'libs';

.header {
  box-shadow: 0px 4px 30px 0px #0000000d;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  z-index: 100;
  &__top {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
  }
  &__top-inner {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  &__contacts {
    display: flex;
    column-gap: 40px;
    align-items: center;
  }
  &__contacts-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    position: relative;
    &.icon {
      &::before {
        content: '';
        position: absolute;
        width: 14px;
        height: 14px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/icons/phone.svg');
        left: 0;
        bottom: 0;
      }
    }
  }
  &__contacts-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #777777;
    margin-bottom: 5px;
  }
  &__contacts-phone {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    color: #3b3643;
  }

  &__links {
    display: flex;
    column-gap: 40px;
  }
  &__links-link {
    @extend %fbook;
    position: relative;
    font-size: 16px;
    line-height: 18px;
    color: #3b3643;
    &.icon {
      &::before {
        content: '';
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        top: -40%;
        height: 30px;
        background-image: url('../images/icons/user.svg');
        left: -25px;
      }
    }
  }
  &__content-inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    a {
      font-size: 16px;
      line-height: 18px;
      color: #3b3643;
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    column-gap: 40px;
  }
  &__menu-link {
    padding: 24px 0;
    position: relative;
    &.active::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 25px;
      height: 3px;
      background-color: $red;
    }
  }
  &__search {
    padding: 24px 0;
    padding-left: 27px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 17px;
      height: 17px;
      background-image: url('../images/icons/search-mobile.svg');
      left: 0px;
    }
  }
  &__burger,
  &__mobileText {
    display: none;
  }
}

.header-mobile {
  display: none;
}

.top {
  margin-bottom: 150px;
  padding-top: 262px;
  padding-bottom: 52px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/global/top-bg.jpg');

  .top-mobile-image {
    display: none;
  }
  &__inner {
    max-width: 900px;
  }
  &__suptitle {
    @extend %fbook;
    font-size: 16px;
    line-height: 18px;
    color: #777777;
    margin-bottom: 20px;
  }
  &__title {
    margin-bottom: 10px;
  }
  &__text {
    margin-bottom: 40px;
    @extend %fbook;
    font-size: 22px;
    line-height: 25px;
  }
  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 35px;
    margin-bottom: 70px;
  }
  &__buttons-btn {
    background: #3b3643;
    border-radius: 7px;
    padding: 19px 32px;

    @extend %fdemi;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
  }
  &__buttons-link {
    @extend %fbook;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #3b3643;
    padding-left: 34px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 30px;
      height: 30px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../images/icons/layers.svg');
      left: 0px;
    }
  }
  &__benefits {
    display: flex;
    column-gap: 40px;
  }
  &__benefits-item {
    padding: 40px 31px;
    width: 225px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 10px 25px 125px -20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 10px;
  }
  &__benefits-title {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #3b3643;
    margin-bottom: 10px;

    span {
      font-size: 18px;
      line-height: 17px;
    }
  }
  &__benefits-text {
    @extend %fbook;
    font-size: 18px;
    line-height: 20px;
    color: #3b3643;
  }
}

.slider {
  margin-bottom: 175px;
  &__inner {
    position: relative;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
  }
  &__title {
    padding-top: 5px;
    margin-bottom: 50px;
  }
  &__text {
    max-width: 450px;
    @extend %fbook;
    font-size: 22px;
    line-height: 25px;
  }

  &__info {
    max-width: 615px;
    column-gap: 30px;
  }
  &__slide {
    max-width: 585px;
    background: #ffffff;
    border: 2px solid rgba(102, 103, 171, 0.15) !important;
    border-radius: 10px;
    padding: 66px 54px;
    padding-bottom: 75px;
    display: flex !important;
    min-height: 305px;
    align-items: flex-start;
    column-gap: 14px;

    margin: 10px 0;
  }
  &__slide-image {
    width: 70px;
    height: 70px;
    flex: none;
    img {
      width: 70px;
      height: 70px;
    }
  }
  &__slide-title {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 21px;
    color: #3b3643;
    margin-bottom: 20px;
  }
  &__slide-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #3b3643;
  }

  &__box {
    overflow: hidden;
    max-width: 585px;
    position: relative;
  }
  &__dots {
    position: absolute;
    right: 0;
    top: 90px;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    li {
      height: 9px;
      width: 15px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      &.slick-active {
        height: 26px;
      }
    }
    .slick-active button {
      font-size: 0;
      padding: 0;
      width: 15px;
      height: 26px;
      background-color: #3b3643;
      border-radius: 7.5px;
      transition: all 0.3s;
    }
    button {
      transition: all 0.3s;
      width: 9px;
      height: 9px;
      background-color: rgba(51, 51, 51, 0.5);
      border-radius: 50%;
      font-size: 0;
      padding: 0;
      margin: 0;
    }
  }
}

.benefits {
  padding: 150px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/global/benefits-bg.svg');

  &__inner {
  }
  &__title {
    margin-bottom: 60px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 30px;
  }
  &__item {
    max-width: 400px;
    width: 100%;
  }
  &__item-icon {
    margin-bottom: 16px;
  }
  &__item-title {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 21px;
    margin-bottom: 20px;
  }
}

.number {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/global/number-bg.jpg');
  padding: 100px 0;
  padding-top: 210px;
  position: relative;
  margin-bottom: 150px;
  &-mobile {
    display: none;
  }
  &__window {
    padding: 46px 84px;
    padding-left: 128px;
    border: 5px solid rgba(102, 103, 171, 0.15);
    box-sizing: border-box;
    box-shadow: 10px 25px 125px -20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 45px;
      height: 45px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../images/icons/red-phone.svg');
      left: 53px;
    }
    margin-bottom: 60px;
  }

  &__info {
    max-width: 660px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .bad-num {
    transform: translateY(165px);
  }
  &__phone {
    transition: all 0.3s;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 53px;
    color: #3b3643;
    display: inline-block;
    position: relative;
    z-index: 10;

    span {
      color: $red;
    }
    &--old {
      margin-bottom: 64px;
      margin-right: 28px;
      transition: all 0.3s;
      &::before {
        content: '';
        position: absolute;
        left: -17px;
        top: 50%;
        width: 0;
        transform: translateY(-50%);
        height: 7px;
        background-color: #3b3643;
        transition: all 0.3s;
      }
    }
    &.old {
      opacity: 0.2;
    }
    &.crossed-out {
      position: relative;
      transition: all 0.3s;
      &::before {
        right: -17px;
        width: 107%;
        transition: all 0.3s;
      }
    }
  }
  &__info-title {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 34px;
    color: #e73756;
    margin-bottom: 30px;
    text-align: right;
    padding-right: 80px;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.3s;
    &.animated {
      transform: translateX(0);
      opacity: 1;
    }
  }
  &__info-text {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 24px;
    color: #898492;
    text-align: right;
    padding-right: 80px;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.3s;
    &.animated {
      transform: translateX(0);
      opacity: 1;
    }
  }
  &__images {
    .number-image {
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0;
      transition: opacity 0.3s;
      &.anumated {
        transition: opacity 0.3s;
        opacity: 1;
      }
      &-black {
        right: 430px;
        opacity: 1;
        z-index: 10;
      }
      &-1 {
        right: 310px;
        z-index: 10;
      }
      &-2 {
        z-index: 9;
        right: 100px;
      }
      &-3 {
        z-index: 8;
      }
    }
  }
}

.users {
  margin-bottom: 126px;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 30px;
    margin-top: 60px;
  }
  &__item-image {
    width: 236px;
    height: 346px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;

    img {
      filter: grayscale(1);
      transition: 0.5s;
    }

    &:hover {
      img {
        filter: grayscale(0);
        transform: scale(1.2);
      }
    }
  }
  &__item-title {
    font-family: FuturaDemiC;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 100%;
    text-align: center;
    color: #3b3643;
  }
}

.features {
  padding: 150px 0;
  padding-top: 61px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/global/features-bg.jpg');
  &__title {
    color: #fff;
    max-width: 805px;
    margin-left: auto;
    margin-right: 100px;
    width: 100%;
  }
  &__slider {
    position: relative;
    margin-top: 50px;
    overflow: hidden;
    padding-bottom: 85px;
  }
  &__slider-box {
    position: absolute;
    width: 550px;
    height: 350px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 65px 43px -48px rgba(49, 44, 79, 0.11);
    backdrop-filter: blur(100px);
    border-radius: 10px;
    border: 3px solid #e9e9fa;
  }
  &__slider-arrow {
    cursor: pointer;
  }
  &__slider-arrows {
    display: flex;
    column-gap: 40px;
    position: absolute;
    bottom: -35px;
    left: 53px;
  }
  &__slider-line {
    display: flex;
    column-gap: 0px;
    position: relative;
    z-index: 10;
    transition: all 0.3s;
    // transform: translateX(-4400px);
  }
  &__slider-item {
    padding: 37px 53px;
    width: 550px;
    flex: none;

    &.checked {
      .features__slider-title,
      .features__slider-text {
        transition: all 0.3s;
        color: #3b3643;
      }

      svg .red {
        stroke: $red;
      }
      svg .default {
        stroke: #3b3643;
      }
    }
    svg .red {
      transition: all 0.3s;
    }
    svg .default {
      transition: all 0.3s;
    }
  }
  &__slider-icon {
    margin-bottom: 30px;
  }
  &__slider-title {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 21px;
    color: #ffffff;
    margin-bottom: 10px;
    transition: all 0.3s;
  }
  &__slider-text {
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
    transition: all 0.3s;
  }
}

.analytics {
  padding: 100px 0;
  margin: 40px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/global/analytics-bg.svg');
  &__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    align-items: center;
  }
  &__info {
    max-width: 695px;
    width: 100%;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__text {
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 200%;
    color: #3b3643;
  }
}

.services {
  padding-bottom: 52px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/global/services-bg.jpg');
  margin-bottom: 150px;

  &__title {
    max-width: 895px;
    margin-bottom: 75px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    max-width: 840px;
    width: 100%;
  }
  &__item {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 60px;
  }
  &__item-title {
    white-space: nowrap;
    margin-left: 9px;
    display: inline-block;
  }
  &__item-text {
    transition: all 0.3s;
    z-index: -1;
    opacity: 0;
    left: 28px;
    top: -47px;
    background-color: #fff;
    position: absolute;
    width: 407px;
    min-height: 96px;
    padding: 21px 18px;
    // padding-left: 45px;
    box-shadow: 10px 25px 125px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  &__item-question {
    cursor: pointer;
    position: relative;
    &:hover {
      .services__item-text {
        z-index: 10;
        opacity: 1;
      }
    }
  }
}

.tariff {
  margin-bottom: 155px;
  &__banner {
    border-radius: 10px;
  }
  &__title {
    margin-bottom: 70px;
  }
  &__slider-wrapper {
    position: relative;
  }
  &__arrows-arrow {
    position: absolute;
    top: 50%;
    right: -80px;
    transform: translateY(-50%);
    cursor: pointer;
    circle,
    path {
      transition: all 0.3s;
    }

    &:hover {
      circle {
        fill: #3b3643;
      }
      path {
        stroke: #e8e8f3;
      }
    }
  }
  &__slider {
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      z-index: 10;
      top: 0;
      bottom: 0;
      right: 0;
      width: 310px;
      background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    }
  }
  &__item {
    padding: 25px;
    background: rgba(255, 255, 255, 0.4);
    border: 3px solid rgba(102, 103, 171, 0.15);
    box-sizing: border-box;
    backdrop-filter: blur(30px);
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    width: 310px;
    margin: 0 10px;
    &.active {
      position: relative;
      .tariff__item-button {
        background: $red;
      }

      &::before {
        content: '';
        position: absolute;
        right: 26px;
        top: 0;
        width: 27px;
        height: 27px;
        background-image: url('../images/icons/bookmark.svg');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  &__item-title {
    margin: 30px;
    margin-bottom: 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #e8e8f3;

    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
    text-align: center;
    color: $red;
    margin-bottom: 40px;
  }
  &__item-time {
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #3b3643;
    margin-bottom: 27px;
  }
  &__item-price {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 29px;
    text-align: center;
    color: #3b3643;
    margin-bottom: 74px;
  }
  &__item-button {
    width: 100%;
    padding: 20px;
    font-family: FuturaDemiC;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    background: #3b3643;
    border-radius: 10px;
  }
  &__banner {
    user-select: none;
  }
  &__docs {
    margin-top: 70px;
  }
  &__docs-box {
    display: flex;
    align-items: center;
    column-gap: 36px;
  }
  &__docs-link {
    font-family: 'FuturaBookC';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #3b3643;
    position: relative;
    padding: 0 35px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      background-image: url('../images/icons/docs.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__docs-title {
    margin-bottom: 55px;
  }
}

.brands {
  padding: 100px 0;
  padding-bottom: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/global/brands-bg.svg');
  margin-bottom: 150px;
  &__title {
    margin-bottom: 60px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 50px;
  }
  &__item {
    margin-bottom: 50px;
    filter: grayscale(1);
    transition: all 0.3s;

    &:hover {
      filter: grayscale(0);
    }
  }
}

.scope {
  margin-bottom: 150px;
  &__title {
    margin-bottom: 30px;
  }
  &__subtitle {
    font-family: 'FuturaBookC';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #3b3643;
    margin-bottom: 65px;
  }

  &__items-wrapper {
    position: relative;
  }
  &__arrows-arrow {
    position: absolute;
    top: 50%;
    right: -80px;
    transform: translateY(-50%);
    cursor: pointer;
    circle,
    path {
      transition: all 0.3s;
    }

    &:hover {
      circle {
        fill: #3b3643;
      }
      path {
        stroke: #e8e8f3;
      }
    }
  }
  &__items {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      z-index: 10;
      top: 0;
      bottom: 0;
      right: 0;
      width: 310px;
      background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    }
  }
  &__item {
    border: 3px solid rgba(102, 103, 171, 0.15);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 40px;
    margin: 0 10px;
    width: 360px;
  }
  &__item-image {
    margin-bottom: 30px;
  }
  &__item-name {
    font-family: 'FuturaBookC';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #3b3643;
    margin-bottom: 30px;
  }
  &__item-title {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #3b3643;
  }
}

.reviews {
  margin-bottom: 27px;
  &__title {
    margin-bottom: 35px;
  }
  &__slider-wrapper {
    position: relative;
  }
  &__arrows-arrow {
    position: absolute;
    top: 50%;
    right: -80px;
    transform: translateY(-50%);
    cursor: pointer;
    circle,
    path {
      transition: all 0.3s;
    }

    &:hover {
      circle {
        fill: #3b3643;
      }
      path {
        stroke: #e8e8f3;
      }
    }
  }
  &__slider {
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      z-index: 10;
      top: 0;
      bottom: 0;
      right: 0;
      width: 310px;
      background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    }
  }
  &__item {
    width: 360px;
    height: 400px;
    background: #faeff1;
    border-radius: 10px;
    margin: 0 10px;
    display: flex !important;
    justify-content: center;
    align-items: center;

    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: #b59ba4;
  }
}

.faq {
  padding-top: 169px;
  padding-bottom: 82px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/global/faq-bg.svg');

  &__title {
    margin-bottom: 70px;
  }
  &__inner {
    max-width: 800px;
  }
  &__col {
    max-width: 400px;
  }
  &__col-title {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;
    color: #3b3643;

    margin-bottom: 25px;
    position: relative;
    padding-left: 40px;

    img {
      position: absolute;
      width: 30px;
      height: 30px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__col-item {
    font-family: 'FuturaBookC';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #3b3643;
    margin-bottom: 10px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    margin-bottom: 70px;
  }
  &__info {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: #9e9bb3;
    span {
      color: $red;
    }
  }
}

@import 'media';
