// @import 'fonts';
@import 'vars';
@import 'mixins';
@import 'global';
@import 'libs';

.header {
  box-shadow: 0px 4px 30px 0px #0000000d;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  z-index: 100;
  &__top {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
  }
  &__top-inner {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  &__contacts {
    display: flex;
    column-gap: 40px;
    align-items: center;
  }
  &__contacts-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    position: relative;
    &.icon {
      &::before {
        content: '';
        position: absolute;
        width: 14px;
        height: 14px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/icons/phone.svg');
        left: 0;
        bottom: 0;
      }
    }
  }
  &__contacts-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #777777;
    margin-bottom: 5px;
  }
  &__contacts-phone {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    color: #3b3643;
  }

  &__links {
    display: flex;
    column-gap: 40px;
  }
  &__links-link {
    @extend %fbook;
    position: relative;
    font-size: 16px;
    line-height: 18px;
    color: #3b3643;
    &.icon {
      &::before {
        content: '';
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        top: -40%;
        height: 30px;
        background-image: url('../images/icons/user.svg');
        left: -25px;
      }
    }
  }
  &__content-inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    a {
      font-size: 16px;
      line-height: 18px;
      color: #3b3643;
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    column-gap: 40px;
  }
  &__menu-link {
    padding: 24px 0;
    position: relative;
    &.active::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 25px;
      height: 3px;
      background-color: $red;
    }
  }
  &__search {
    padding: 24px 0;
    padding-left: 27px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 17px;
      height: 17px;
      background-image: url('../images/icons/search-mobile.svg');
      left: 0px;
    }
  }
  &__burger,
  &__mobileText {
    display: none;
  }
}

.header-mobile {
  display: none;
}

.top {
  margin-bottom: 150px;
  padding-top: 262px;
  padding-bottom: 52px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/global/top-bg.jpg');
  &__inner {
    max-width: 900px;
  }
  &__suptitle {
    @extend %fbook;
    font-size: 16px;
    line-height: 18px;
    color: #777777;
    margin-bottom: 20px;
  }
  &__title {
    margin-bottom: 10px;
  }
  &__text {
    margin-bottom: 40px;
    @extend %fbook;
    font-size: 22px;
    line-height: 25px;
  }
  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 35px;
    margin-bottom: 70px;
  }
  &__buttons-btn {
    background: #3b3643;
    border-radius: 7px;
    padding: 19px 32px;

    @extend %fdemi;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
  }
  &__buttons-link {
    @extend %fbook;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #3b3643;
    padding-left: 34px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 30px;
      height: 30px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../images/icons/layers.svg');
      left: 0px;
    }
  }
  &__benefits {
    display: flex;
    column-gap: 40px;
  }
  &__benefits-item {
    padding: 40px 31px;
    width: 225px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 10px 25px 125px -20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 10px;
  }
  &__benefits-title {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #3b3643;
    margin-bottom: 10px;

    span {
      font-size: 18px;
      line-height: 17px;
    }
  }
  &__benefits-text {
    @extend %fbook;
    font-size: 18px;
    line-height: 20px;
    color: #3b3643;
  }
}

.slider {
  margin-bottom: 175px;
  &__inner {
    position: relative;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    padding-top: 5px;
    margin-bottom: 50px;
  }
  &__text {
    max-width: 450px;
    @extend %fbook;
    font-size: 22px;
    line-height: 25px;
  }
  &__info {
    max-width: 615px;
    column-gap: 30px;
  }
  &__slide {
    max-width: 585px;
    background: #ffffff;
    border: 2px solid rgba(102, 103, 171, 0.15) !important;
    border-radius: 10px;
    padding: 66px 54px;
    padding-bottom: 75px;
    display: flex !important;
    min-height: 305px;
    align-items: flex-start;
    column-gap: 14px;
    height: 400px;
    margin: 10px 0;
  }
  &__slide-image {
    width: 70px;
    height: 70px;
    flex: none;
    img {
      width: 70px;
      height: 70px;
    }
  }
  &__slide-title {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 21px;
    color: #3b3643;
    margin-bottom: 20px;
  }
  &__slide-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #3b3643;
  }

  &__box {
    overflow: hidden;
    max-width: 585px;
    position: relative;
  }
  &__dots {
    position: absolute;
    right: 0;
    top: 90px;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    li {
      height: 9px;
      width: 15px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      &.slick-active {
        height: 26px;
      }
    }
    .slick-active button {
      font-size: 0;
      padding: 0;
      width: 15px;
      height: 26px;
      background-color: #3b3643;
      border-radius: 7.5px;
      transition: all 0.3s;
    }
    button {
      transition: all 0.3s;
      width: 9px;
      height: 9px;
      background-color: rgba(51, 51, 51, 0.5);
      border-radius: 50%;
      font-size: 0;
      padding: 0;
      margin: 0;
    }
  }
}

.benefits {
  padding: 150px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/global/benefits-bg.svg');

  &__inner {
  }
  &__title {
    margin-bottom: 60px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__item {
    max-width: 400px;
    width: 100%;
  }
  &__item-icon {
    margin-bottom: 16px;
  }
  &__item-title {
    margin-bottom: 22px;
  }
}

.number {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/global/number-bg.jpg');
  padding: 100px 0;
  padding-top: 210px;
  position: relative;
  margin-bottom: 150px;
  &__window {
    padding: 46px 84px;
    padding-left: 128px;
    border: 5px solid rgba(102, 103, 171, 0.15);
    box-sizing: border-box;
    box-shadow: 10px 25px 125px -20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 45px;
      height: 45px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../images/icons/red-phone.svg');
      left: 53px;
    }
    margin-bottom: 60px;
  }

  &__info {
    max-width: 660px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .bad-num {
    transform: translateY(165px);
  }
  &__phone {
    transition: all 0.3s;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 53px;
    color: #3b3643;
    display: inline-block;
    position: relative;
    z-index: 10;

    span {
      color: $red;
    }
    &--old {
      margin-bottom: 64px;
      margin-right: 28px;
      transition: all 0.3s;
      &::before {
        content: '';
        position: absolute;
        left: -17px;
        top: 50%;
        width: 0;
        transform: translateY(-50%);
        height: 7px;
        background-color: #3b3643;
        transition: all 0.3s;
      }
    }
    &.old {
      opacity: 0.2;
    }
    &.crossed-out {
      position: relative;
      transition: all 0.3s;
      &::before {
        right: -17px;
        width: 107%;
        transition: all 0.3s;
      }
    }
  }
  &__info-title {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 34px;
    color: #e73756;
    margin-bottom: 30px;
    text-align: right;
    padding-right: 80px;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.3s;
    &.animated {
      transform: translateX(0);
      opacity: 1;
    }
  }
  &__info-text {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 24px;
    color: #898492;
    text-align: right;
    padding-right: 80px;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.3s;
    &.animated {
      transform: translateX(0);
      opacity: 1;
    }
  }
  &__images {
    .number-image {
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0;
      transition: opacity 0.3s;
      &.anumated {
        transition: opacity 0.3s;
        opacity: 1;
      }
      &-black {
        right: 430px;
        opacity: 1;
        z-index: 10;
      }
      &-1 {
        right: 310px;
        z-index: 10;
      }
      &-2 {
        z-index: 9;
        right: 100px;
      }
      &-3 {
        z-index: 8;
      }
    }
  }
}

@import 'media';
